$default-font: 'Thin Pixel';

@font-face {
  font-family: 'Thin Pixel';
  src: url('../resources/thin_pixel-7.ttf');
}

.wrapper {
  text-align: center;

  h1 {
    margin: 0;
    font-size: 100px;
    font-family: $default-font;
    color: white;
  }
  canvas {
    left: 50%;
    transform: translateX(-50%);
  }
}

body {
  background-color: black;
}

.info {
  position: relative;
  height: 50px;
  margin-bottom: 150px;
  margin-left: 20px;

  .bar {
    span {
      transition: all 0.1s;
      display: block;
      height: 100%;
    }
  }
  .health {
    vertical-align: bottom;
    width: 300px;
    height: 70%;
    border: 4px solid white;
    display: inline-block;

    span {
      background-color: red;
    }
  }

  .experience {
    transform: translateX(-50%);
    margin-top: 15px;
    margin-left: 50%;
    border: 3px solid white;
    width: 50%;
    height: 6px;

    span {
      background-color: white;
    }
  }

  h2 {
    margin-top: -10px;
    margin-bottom: 50px;
    color: white;
    font-size: 50px;
    font-family: $default-font;
    font-weight: normal;
  }

  p {
    margin: 0 10px;
    color: white;
    margin-bottom: -5px;
    display: inline-block;
    font-size: 50px;
    font-family: $default-font;
  }
}
