h1 {
  font-family: "Open Sans";
  font-size: 50px;
  text-align: center;
  color: #D50F25; }

.addButton {
  background-color: #D50F25;
  font-size: 27px;
  padding: 5px 10px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translateX(-300%);
  color: #FFF;
  border: none;
  border-radius: 3px;
  position: relative; }

.container {
  font-family: "Open Sans";
  border: 2px solid #3369E8;
  border-radius: 3px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 400px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5); }
  .container .recipe {
    border: 2px solid #3369E8; }
    .container .recipe .popup {
      transform: translateY(-137px); }
    .container .recipe h3 {
      cursor: pointer;
      font-weight: lighter;
      margin: 0 20px;
      font-size: 30px; }

.info {
  background-color: white;
  width: 200px;
  border: 4px solid #3369E8;
  position: absolute;
  left: 370px;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  padding: 5px; }
  .info h2 {
    margin: 5px 15px;
    font-size: 30px; }
  .info p {
    margin: 3px 15px; }
  .info input[type="button"] {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    margin-top: 20px;
    font-size: 20px;
    color: #FFF; }
  .info input[name="Edit"] {
    background-color: #3369E8; }
  .info input[name="Delete"] {
    background-color: #D50F25; }

.popup {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  margin-top: 130px;
  width: 400px;
  background-color: #FFF;
  border: 3px solid #3369E8;
  font-family: "Open Sans";
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.5); }
  .popup input[type="text"] {
    padding-left: 5px;
    font-size: 20px;
    border: 2px solid #000;
    margin-left: 30px; }
  .popup input[type="button"] {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 3px;
    background-color: #3369E8;
    color: #FFF;
    font-size: 20px;
    padding: 5px 10px; }
  .popup h2 {
    color: #3369E8;
    margin-left: 10px;
    display: inline-block; }
  .popup p {
    margin-left: 5px;
    display: inline-block; }
