$font: 'Helvetica';
$title-font: 'Open Sans';

body {
  overflow: hidden;
}

.title {
  font-family: $title-font;
}

.previewer {
  font-family: $font;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 500px;

  div {
    margin: 0 20px;
    height: inherit;
    width: 45%;
    display: inline-block;
  }
  .input {
    float: left;
    textarea {
      resize: none;
      width: 100%;
      height: 100%;
    }
  }
  .output {
    float: right;
  }
}
